.DS_Store
npm-debug.log
trash.rb
/lib/server/secrets.rb

/node_modules/
/lib/client/js/
/lib/client/fonts/
/tmp
/log
/source

/spec/examples.txt

Gemfile.lock
package-lock.json
*.eot
*.svg
*.ttf
*.woff
*.woff2
*.swp
*.swo

config.yml
coverage
